# Random Forest i Model Ensemble

Na dziesiejszych zajęciach poćwiczmy w jaki sposób wykorzystać klasyfikator lasów losowych do zbioru zadań z titanica.

In [9]:
# linear algebra
import numpy as np 

# data processing
import pandas as pd 

# data visualization
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style

# Algorithms
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB

**zadanie 0** Wklej poniżej ścieżkę do zestawu danych *Titanic* z Gonito.

In [10]:
data_path = "/home/tomasz/teaching/umz2018/challenges/titanic"

**zadanie 1** Wczytaj dane treningowe i walidacyjne odpowiednio do zmiennych `train`, `valid_X`, `valid_y`

**zadanie 2** Popraw nazwy kolumn w danych walidacyjnych.

**zadanie 3** Przypomnij jaki procent pasażerów przeżyło katastrofę.

0.38202247191011235

**zadanie 4** Podziel `train` na dwa zbiory: train_y - pierwsza kolumna, train_X - pozostałe kolumny.

In [73]:
train_X.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,530,2,Hocking\t Mr. Richard George,male,23.0,2,1,29104,11.5000,NaN,S
1,466,3,Goncalves\t Mr. Manuel Estanslas,male,38.0,0,0,SOTON/O.Q. 3101306,7.0500,NaN,S
2,753,3,Vande Velde\t Mr. Johannes Joseph,male,33.0,0,0,345780,9.5000,NaN,S
3,855,2,Carter\t Mrs. Ernest Courtenay (Lilian Hughes),female,44.0,1,0,244252,26.0000,NaN,S
4,333,1,Graham\t Mr. George Edward,male,38.0,0,1,PC 17582,153.4625,C91,S

## Poprawienie danych wejściowych

**zadanie 5** Przekształć kolumnę `Sex` w następujący: wartości `male` przypisz wartość 0, zaś `female` wartość 1 (w train_X i valid_X)

In [74]:
sex_dict = {'male': 0, 'female': 1}

**zadanie 6** Usuń kolumnę `PassengerId`.

**zadanie 7** Przemapuj kolumnę `Embarked` przy pomocy słownika `emb_dict`:

In [102]:
emb_dict = {'S': 0, 'C': 1, 'Q': 2}
train_X.Embarked = train_X.Embarked.fillna('S')

Wyciągnięcie tytułów z nazwiska:

In [80]:
data = [train_X, valid_X]
titles = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}

for dataset in data:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col','Don', 'Dr',\
                                            'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Rare')
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

    dataset['Title'] = dataset['Title'].map(titles)

    dataset['Title'] = dataset['Title'].fillna(0)

**zadanie 8** Usuń kolumny `Ticket` i  `Name`.

In [93]:
import re
deck = {"A": 1, "B": 2, "C": 3, "D": 4, "E": 5, "F": 6, "G": 7, "U": 8}
data = [train_X, valid_X]

for dataset in data:
    dataset['Cabin'] = dataset['Cabin'].fillna("U0")
    dataset['Deck'] = dataset['Cabin'].map(lambda x: re.compile("([a-zA-Z]+)").search(x).group())
    dataset['Deck'] = dataset['Deck'].map(deck)
    dataset['Deck'] = dataset['Deck'].fillna(0)
    dataset['Deck'] = dataset['Deck'].astype(int) 
    
train_X = train_X.drop('Cabin', axis=1)
valid_X = valid_X.drop('Cabin', axis=1)

**zadanie 9** Uzupełnij brakujące wartości w kolumnie `Age` średnią.

**zadanie 10** Sprawdź *accuracy* dla modelu regresji logistycznej, KNN i drzewa decyzyjnego.

Trenowanie lasu losowego:

In [116]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(train_X, train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

**zadanie 11** Oblicz *accuracy* dla powyższego modelu.

## Homework -- ensemble przez głosowanie

Zadanie domowe polega na zastosowaniu tego, co już wiemy. Zamiast korzystać z tylko jednego modelu podczas predykcji, będziemy korzystać z kilku - łącząc wyjścia.

**hm. 1** Wczytaj dane testowe dla *Titanica* i przetwórz w taki sam sposób jak to zrobiliśmy z zbiorem trenującym i walidacyjnym.

**hm. 2** Stwórz listę wytrenowanych podczas zajęć modeli. Nazwij tę listę `models`.

**hm. 3** Predykcja ma wyglądać następująco: dla każdego przypadku testowego zbieramy wyniki z wszystkich modeli (prawdopodobieństwa dla każdej z klas). Następnie uśredniamy wynik i wybieramy tę klasę, która ma najwyższą średnią.

**hm. 4** Spróbuj znaleźć jak najlepszą kombinację modeli.

**hm. 5** Korzystając z kombinacji modeli z zad. *hm. 4*, zrób przedykcję przykładów z zbioru testowego.

**hm. 6** Umieść wyniki na gonito!

## Gratulacje! Koniec zadań na dziś!